<%- include('./partials/head') %>

<section class="container">
    <div>
        <h1><%= data.name + " " + data.surname %></h1>
        <p><%= data.bio %></p>
        <box-icon name='mouse' animation='fade-down' color='#ffffff' size="lg"></box-icon>
    </div>
    <a href="mailto:remy.duivesteijn@hva.nl"><%= data.email %></a>
</section>
<section class="container-2">
    <ul>
        <li>
            <a href="<%= data.github_handle %>" target=”_blank”>
                <img src="<%= data.avatar %>" alt="GitHub logo">
                <strong>GitHub</strong>
            </a>
        </li>
        <li>
            <a href="https://direct.playstation.com/nl-nl" target=”_blank”>
                <img src="img/playstation.jpeg" alt="Playstation logo">
                <strong><%= data.nickname %></strong>
            </a>
        </li>
        <li>
            <a href="<%= data.website %>" target=”_blank”>
                <img src="img/rLogo.png" alt="Portfolio logo">
                <strong>Portfolio</strong>
            </a>
        </li>
    </ul>
</section>

<%- include('./partials/foot') %>